    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        scroll-behavior: smooth;
        border: none;
        outline: none;
}

/************************Scrol bar style eka wenas kirimata***********************/

::-webkit-scrollbar{
    width: 10px;
    background: #333030;
}

::-webkit-scrollbar-thumb{
    background:#0AD9F5 ;
}


/***********************************navigation bar style*******************************************/

.navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 5.2rem;
    z-index: 999;
    padding: 1.5rem;
    font-family:"IM Fell English",Serif;
}

.navbar.sticky{
    padding: 15px 0;
    background: #0AD9F5;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #0AD9F5;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

.portfolio{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: 600;
    margin-left: 35px;
    cursor: default;
}

span{
    color: #0AD9F5;
}

    /*********************************************home page style*******************************************/

.home{
    align-items: center;
    position: relative;
    background:#252424;
    height: 650px;
    color: #FFFFFF;
    min-height: 100vh;
    padding: 13rem 9% 2rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.name{
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 1rem;
    margin-top:.5rem;
}

.home h2{
    font-size: 30px;
}

.profile_pic{
    position: absolute;
    right: 300px;
    bottom: 0;
    top: 150px;
    display: flex;
}

.shape{
    width: 400px;
    height: 500px;
}
.profile{
    width: 300px;
    height: 400px;
}

.profile_pic img{
    height: 500px;
    position: absolute;
    /*left: 500px;*/
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s ;
}

.profile_pic:hover .shape{
    bottom: 40px;
}
.profile_pic:hover .profile{
    left: 45%;
}

.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    color: #0AD9F5;
    border: .2rem solid #0AD9F5;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social_media a:hover{
    background: #0AD9F5;
    color: black;
    box-shadow: 0 0 1rem #0AD9F5;
    transform: scale(1.3);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #0AD9F5;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #0AD9F5;
    font-size:1.6rem;
    color: #FFFFFF;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}


/***********************************about me style****************************************/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(133.44deg, #000000 29.88%, #114C8F 110.59%);
    color: #FFFFFF;
    min-height: 100vh;
    padding: 4rem 9% 2rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.about_radies{
    border-radius: 10%;
    height: 500px;
    width: 443px;
}

.heading{
    text-align: center;
    font-size: 4rem;
}
.about_content h1{
    text-align: left;
    line-height:1.2;
}

.about_content h3{
    font-size: 2.6rem;
}
.about_content p{
    font-size:1.4rem;
    margin: 2rem 0 3rem;
}


/*******************************************************skill style************************************************/

.skills{
    background: linear-gradient(133.44deg, #000000 29.88%, #114C8F 110.59%);
    color: #FFFFFF;
    min-height: 100vh;
    padding: 5rem 9% 1rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.skills .heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills h2{
    margin-bottom: 5rem;
    font-size: 3rem;
}
.skills .content h3{
    color: #0AD9F5;
}

.skills .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill_box{
    padding: 1rem;
    color: #FFFFFF;
    cursor: pointer;
    border:solid lightslategray;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 20%;
    transition: .5s ease;
}
.skill_box:hover{
    transform:translateY(-10px);
}

.skill_box:hover > .skill_title:after, .skill_box:hover > .skill_title:before{
    width:35px;
}

.skill_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:.5rem;
    margin-bottom: .5rem;
    position: relative;
    transition: .5s ease;
}

.skill_title:hover{
    transform: scale(1.2);
}


.skills .img{
    width: 90px;
    height: 90px;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.skills .img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill_title h3{
    color: #FFFFFF;
    margin: 0.5rem;
}

.skill_icon{
    width: 50px;
    z-index: 10;
}

/*****************************************************gallery style************************************************/

.gallery{
    background: linear-gradient(133.44deg, #000000 29.88%, #114C8F 110.59%);
    color: #FFFFFF;
    min-height: 100vh;
    padding: 3.5rem 9% 2rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.gallery_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery h1{
    margin-bottom: 5rem;
    font-size: 3rem;
}

.gallery_content .gallery_box{
    /*padding: 3rem 2rem 4rem;*/
    border: .2rem solid #1B1B1B;
    /*width: 400px;*/
    /*height: 25rem;*/
    transition: .5s ease;
    border-radius: 20%;

}
.gallery_content .gallery_box:hover{
    transform: scale(1.2);
}

.gallery_img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
}


/********************************************************services section style*********************************************/

.services{
    background: linear-gradient(133.44deg, #000000 29.88%, #114C8F 110.59%);
    color: #FFFFFF;
    min-height: 100vh;
    padding: 3.5rem 9% 2rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.services_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services h1{
    margin-bottom: 5rem;
}

.services_content .services_box{
    flex: 1 1 1rem;
    background: linear-gradient(153.87deg, #1B1B1B 75.53%, rgba(255, 255, 255, 0.51) 108.92%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid #1B1B1B;
    width: 400px;
    height: 25rem;
    transition: .5s ease;

}
.services_content .services_box:hover{
    border-color: #0AD9F5;
    transform: scale(1.02);
}

.services_box i{
    font-size: 4.5rem;
    color: #0AD9F5;
    border-radius: 50%;
}
.services h3{
    font-size: 2.2rem;
}
.services_box p{
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}

/***********************************************************projects style***********************************************/

.projects{
    background: linear-gradient(133.44deg, #000000 29.88%, #114C8F 110.59%);
    color: #FFFFFF;
    min-height: 100vh;
    padding: 5rem 9% 2rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.projects h2{
    margin-bottom: 4rem;
}

.project_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.project_content .project_box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1B1B1B;
    overflow: hidden;
    display: flex;
}

.project_box img{
    width: 100%;
}

.project_box:hover img{
    transform: scale(1.1);
}

.project_box .project_layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),#0AD9F5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 1s ease;
}

.project_box:hover .project_layer{
    transform: translateY(0);
}

.project_layer h4{
    font-size: 2rem;
}
.project_layer p{
    font-size: 1rem;
    margin: .3rem 0 1rem;
}
.project_layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #FFFFFF;
    border-radius: 50%;
}

.project_layer a i{
    font-size: 1.6rem;
    color: #1B1B1B;
}

/****************************************************!*contact style!************************************************/

.contact{
    background: linear-gradient(133.44deg, #000000 29.88%, #114C8F 110.59%);
    color: #FFFFFF;
    min-height: 100vh;
    padding: 5.3rem 9% 2rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input_box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    border-radius: .8rem;
    margin: .7rem 0;
    background: #1E1E1E;

}


.contact form .input_box input{
    width: 49%;
}
 .contact form textarea{
     resize: none;
 }

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/**************************************************************footer style****************************************************/

.footer h3{
    font-size: 1.4rem;
    color: #0AD9F5;
}
.footer{
    width: 100%;
    position: absolute;
    background: linear-gradient(103.11deg, #000000 42.62%, #084792 93.31%);
    color: #FFFFFF;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 18px;
    line-height: 20px;

}
.footer .all_rights{
    padding:1rem;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 32%;
    padding: 2.1rem;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email_id{
    width: fit-content;
    margin: .9rem 0;
}

.footer_iconTop a{
    display: inline-flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .8rem;
    background: #0AD9F5;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer_iconTop a:hover{
    box-shadow: 0 0 1rem #0AD9F5;
}

.footer_iconTop a i{
    font-size: 1.4rem;
    color: #1B1B1B;
}