body{
    background: rgba(10, 217, 245, 0.16);
}
.cards {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 70px;
    justify-content:  space-around;
    font-family: 'Titillium Web', sans-serif;
}

.dash{
    cursor: pointer;
    transition: 0.5s ease;
}

.dash:hover {
    transform: translateY(20px);
}

div.form-group label{
    font-weight: bold;
    margin-right: 5px;
}

.content-box-2{
    background-color: #ffffff;
    padding: 40px;
}
#total-text{
    color: #007bff;
    font-size: 13px;
}
#total-text1{
    color: #ef5350;
    font-size: 13px;
}
section.content-box-2 label{
    font-weight: bold;
    margin-right: 10px;
}


div.form-group label{
    margin: 0;
}

.control-error {
    color: red;
    font-size: 0.9em;
    /*display: none;*/
}

#total{
    font-size: 30px;
    color: #007bff;
}
#subtotal{
    color: #ef5350;
    font-size: 30px;
}