*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-size: 25px;
    background: linear-gradient(to right, #43cea2 , #185a9d);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    background: #1f242d;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 2px 10px black;
}

input{
    width: 320px;
    border: 1px solid #0AD9F5;
    margin: 10px;
    padding: 20px;
    background: transparent;
    color: white;
    text-align: right;
    font-size: 40px;
}

input::placeholder{
    color: #FFFF;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin: 10px;
    border: none;
    font-size: 25px;
    background: transparent;
    color: white;
    box-shadow: 3px 3px 15px rgba(36, 215, 243, 0.3);
    cursor: pointer;
}

.big-button{
    width: 150px;
}

.color{
    color: #0AD9F5;

}

